# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
resume_env/
env/
venv/
ENV/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm / VS Code settings
.idea/
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.bak

# Model/data files
*.h5
*.pkl
*.csv
*.pdf
*.docx
temp.*
